{% extends "App1/padre.html" %}

{% load static %}

{% block contenido2 %}

    <h1 class="mb-1" style="color: azure;"> LIBROS <br> FORMULARIO </h1>

{% endblock %}


{% block contenido %}

    {% if miFormulario.errors %}

    <p>Error</p>

    {% endif %}

    <form action="" method="POST">{% csrf_token %}

        <!--
        <p>Ubicacion: <input type="text" name="ubicacion" </p>

        <p>Asociados: <input type="number" name="nroAsociados" </p>

        -->

        <table>

        {{ miFormulario.as_table }}

        </table>

        <input type="submit" name="ENVIAR">

    </form>


{% endblock %}