{% extends "App1/padre.html" %}

{% load static %}

{% block contenido2 %}

    <h1 class="mb-1" style="color: azure;"> LIBROS <br> FORMULARIO </h1>

{% endblock %}


{% block contenido %}

    <form action="/App1/librosFormulario" method="POST">{% csrf_token %}

        <p>Genero: <input type="text" name="genero" </p>

        <p>Nombre: <input type="text" name="nombre" </p>

        <p>NumeroId: <input type="number" name="numeroId" </p>

        <table>

        <input type="submit" name="ENVIAR">

        </table>

    </form>


{% endblock %}

